

.nav__lista--projeto{
    padding: 5px;
    text-decoration: none;
    color: #063509;
    text-shadow: 1px 1px #8fc592d0;
}

.nav__lista--projeto:hover{
    color: #2b6d2b; 
}

.nav__lista--agrotoxicos{
    padding: 5px;
    text-decoration: none;
    color: #063509;
    text-shadow: 1px 1px #8fc592d0;
}

.nav__lista--agrotoxicos:hover{
    color: #2b6d2b; 
}

.nav__lista--exemplos{
    padding: 5px;
    text-decoration: none;
    color:  #0a8d12;
    text-shadow: 1px 1px #8fc592d0;
}


.nav__lista--referencias{
    padding: 5px;
    text-decoration: none;
    color:  #063509;
    text-shadow: 1px 1px #8fc592d0;
}

.nav__lista--referencias:hover{
    color: #2b6d2b; 
}

.nav__lista--quemsomos{
    padding: 5px;
    text-decoration: none;
    color: #063509;
    text-shadow: 1px 1px #8fc592d0;
}
.nav__lista--quemsomos:hover{
    color: #2b6d2b; 
}


/* ---------------- CONTEUDO ----------- */

h3{
    padding-left: 0;
}
.seçao__conteudo--exemplo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 50px;

}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left:40px;
    margin-bottom: 50px;
    width: 56%;
}

.seção__titulo--img{
    width: 300px;
}

h4{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.459);
    margin-bottom: 10px;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px; 
    padding: 4px; 
}

span{
  font-weight: 500;  
}

.estrutura__img{
    width: 200px;
}
.estrutura__titulo{
    padding-bottom: 55px;
    font-weight: 500;
}