.header__header{
    background-color: #eff6fc;
    width: 100%;
    height: 110px;
    display: flex;
    margin: 0 auto;
    position: fixed;
    top:0;
    left: 0;
    box-shadow: 0px 0px 10px 0px #9bc6eb4b;
}

.header__div{
    width: 100%;
    display: flex;
    margin: auto;
    padding: 5px;
    align-items: center;
    flex-direction: column;
}

.header__icone{
    width: 80px;
    padding: 4px;
}

h1{
   font-size: 45px; 
   font-family: 'Parisienne', cursive; 
   padding: 2px;
   color: #6780dd;
}

.header__titulo{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding: 10px;
    font-weight: 400;
}

.seçao__paragrafo{
    background-color: #E3E9FF;
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.seçao__paragrafo--div{
    width: 42%;
    margin-top: 80px;
}

.seçao__paragrafo--img{
    margin-top: 80px;
}

.seçao__paragrafo--titulo{
    margin-top: 50px;
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: #6d83db;
    line-height: 35px;
}

.paragrafo{
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 400;
    padding: 10px;
    line-height: 30px;
    text-align: center;
}

.paragrafo__img{
    /* margin-top: 300px; */
    width: 500px;
}

.italico{
    font-style: italic;
}

/* ----------------- main -------------- */

.seçao__conteudo{
    margin: 20px;
    align-items: center;
    width: 96%;
    justify-content: space-around;
}

.seçao__conteudo--linha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
}

.seçao__grupos{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: auto;
    align-items: center;
}

.seçao__grupos--img{
    width: 180px;
    padding: 20px;
}

.seçao__grupos--nome{
    text-align: center;
    font-family: 'Parisienne', cursive; 
    font-size: 32px;
    padding: 5px;
    font-weight: 500;
}

.seçao__grupos--integrantes{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    padding: 5px;
    font-weight: 400;
}

/* ------------------ Footer ------------ */

.links{
    color: #0a3e57;;
}

.links:hover{
    color: #0692d3;;
}


footer{
    padding-top: 10px;
    display: flex;
    margin-top: 400px;
    background-color: #E3E9FF;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__div{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.footer__logo{
    width: 94px;
    height: 85px;
    align-items: center;
    padding: 10px;
}

.footer__creditos{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#183118;
    font-weight: 600;
}

.footer__creditos--copyright{
    font-size: 12px;
    padding-top: 8px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#29462b;
    font-weight: 500;
}

.footer__creditos--freepik{
    font-size: 14px;
    padding-top: 18px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#29462b;
    font-weight: 600;
}


/* ---------------- Responsividade -------------------- */

@media screen and (max-width: 360px) {
    
    .header__header{
       height: 200px;
    }

    h1{
        font-size: 80px;
    }

    .header__titulo{
        font-size: 25px;
    }

    .seçao__paragrafo{
        height: 1000px;
        margin-top: 200px;
        flex-direction: column;
    }

    .seçao__paragrafo-img{
        margin-top: 90px;
        width: 300px;
    }

    .seçao__paragrafo--titulo{
        font-size: 20px;
    }
}