
*{
    color:#002002;
    font-family: 'Kaisei HarunoUmi', serif;
}

body{
    color:#002002;
}

header{
    padding: 0;
    background-color: #acfcb2;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}

.header__header{
    display: flex;
    align-items: center;
    height: 85px;
    justify-content: space-between;
}

.header__div{
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__icone{
    width: 58px;
    padding: 2px;
    margin: 10px;
    opacity: 85%;
}

.header__span{
    margin-left: 12px;
    color: #0d4911
}

h1{
    font-size: 28px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    color: #0d4911;
    text-shadow: 4px 2px 3px #98da9d;
}

nav{
    align-items: center;
    display: flex; 
    margin-right: 10px;
    justify-content: right;
    
}

ul{
    justify-content: flex-end;
    display: flex;
    margin: 0 auto; 
}

.nav__lista{
    text-align: right;
    justify-content: right;
    align-items: center;
    margin: auto;
    margin-left: 14px;
    margin-right: 5px;
    font-family:'Mukta', sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}

.nav__lista--projeto{
    padding: 5px;
    text-decoration: none;
    color: #063509;
    text-shadow: 1px 1px #8fc592d0;
}

.nav__lista--projeto:hover{
    color: #2b6d2b; 
}

.nav__lista--agrotoxicos{
    padding: 5px;
    text-decoration: none;
    color: #0a8d12;
    text-shadow: 1px 1px #8fc592d0;
}

.nav__lista--exemplos{
    padding: 5px;
    text-decoration: none;
    color: #063509;
    text-shadow: 1px 1px #8fc592d0;
}

.nav__lista--exemplos:hover{
    color: #2b6d2b; 
}

.nav__lista--referencias{
    padding: 5px;
    text-decoration: none;
    color: #063509;
    text-shadow: 1px 1px #8fc592d0;
}

.nav__lista--referencias:hover{
    color: #2b6d2b; 
}

.nav__lista--quemsomos{
    padding: 5px;
    text-decoration: none;
    color: #063509;
    text-shadow: 1px 1px #8fc592d0;
}
.nav__lista--quemsomos:hover{
    color: #2b6d2b; 
}


.nav__lista--contatos{
    text-decoration: none;
    color: #ecfff0;
    font-size: 16px;
    background-color: #16581acb;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px; 
    padding-right: 5px; 
    margin-right: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav__lista--contatos:hover{
    background-color: #188b20cb;
    color:#ffffff;   
}

.container__seção--titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #defde5;
    border-top: 50px solid #82df96;
    margin-top: 70px;
    margin-bottom: 140px;
    padding: 20px;
    height: 400px;
}

.seção__titulo--div{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 40%;
}

.seção__titulo{
    justify-content: left;
    text-align: left;
    margin: auto;
    color:rgb(8, 37, 13);
    font-family: 'Style Script', cursive;
    line-height: 1.2;
    font-weight: 400;
    font-size: 75px;
    letter-spacing: 2px;
}

.seção__titulo--img{
    width: 410px;
}



/* -------------------- Conteudo -------------------- */

h3{
    color:rgb(8, 37, 13);
    font-family: 'Parisienne', cursive;
    line-height: 1.25;
    font-weight: 500;
    font-size: 43px;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 15px;
}

.seçao__conteudo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
}

.seçao__tipos--paragrafos{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-left: 18px;
    text-align: justify ;
    margin-bottom: 60px;  
    line-height: 35px;
    width: 75%;
}

.paragrafoss__span{
    font-size:22px;
    font-weight: 500;
    color: #4da555;
    /* text-decoration:underline; */
}

.paragrafoss__span--tipos{
    font-size:24px;
    font-weight: 500;
    color: #1e6924;
}

.conteudo__paragrafos{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-left: 18px;
    text-align: justify ;
    margin-bottom: 90px;  
    line-height: 32px;
    width: 75%;
}

/* -------------------- Footer ---------------------- */

footer{
    padding-top: 10px;
    display: flex;
    margin-top: 300px;
    background-color: #acfcb2;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__div{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.footer__logo{
    width: 98px;
    height: 85px;
    align-items: center;
    padding: 5px;
}

.footer__creditos{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#183118;
    font-weight: 600;
}

.footer__creditos--copyright{
    font-size: 12px;
    padding-top: 8px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#29462b;
    font-weight: 500;
}

.footer__creditos--freepik{
    font-size: 14px;
    padding-top: 18px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#29462b;
    font-weight: 600;
}

/* ------------------------ Responsividade ----------------- */

/* @media screen and (max-width: 1200px) {
    
    .header__header{
        height: 100px;
    }
    nav{
        width: auto;
        flex-direction: column;
    }
    .conteudo__paragrafos{
        width: auto;
    }

}

@media screen and (min-width: 700px){
    p{
        font-size: 18px;
    }
} */